<a href="https://colab.research.google.com/github/aniljacob/AIML/blob/main/U4W23_57_MovieRecommenationSystems_SVD_KNN_C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Certification in AIML
## A Program by IIIT-H and TalentSprint

## Learning Objective

At the end of the experiment, you will be able to :

* Recommend movies to the user using SVD

In [ ]:
#@title Experiment Walkthrough Video
from IPython.display import HTML

HTML("""<video width="854" height="480" controls>
  <source src="https://cdn.talentsprint.com/talentsprint/archives/sc/aiml/aiml_labs_blr/movie_recommendation_system_svd_knn.mp4" type="video/mp4">
</video>
""")

## Dataset

### Description

This is a basic version of low-rank matrix factorization for recommendations employ it on a dataset of 1 million movie ratings (from 1 to 5) available from the MovieLens project. The MovieLens datasets were created collected by GroupLens Research at the University of Minnesota.

## AI / ML Technique

Using matrix factorization, from the user and movies information, you can able to find a low-rank  representation, which initiative can be interpreted (in this example) as 'taste/genre' of movies. I.e. you are able to ascertain users with their taste in movies; and movies which corresponds to the tastes/genres.

### Matrix Factorization via Singular Value Decomposition

Matrix factorization is the breaking down of one matrix in a product of multiple matrices. It's extremely well studied in mathematics, and it's highly useful. There are many different ways to factor matrices, but singular value decomposition is particularly useful for making recommendations.

So what is singular value decomposition (SVD)? At a high level, SVD is an algorithm that decomposes a matrix $R$ into the best lower rank (i.e. smaller/simpler) approximation of the original matrix $R$. Mathematically, it decomposes R into a two unitary matrices and a diagonal matrix:

$$\begin{equation}
R = U\Sigma V^{T}
\end{equation}$$

where R is user's rating matrix, $U$ is the user "features" matrix, $\Sigma$ is the diagonal matrix of singular values (essentially weights), and $V^{T}$ is the movie "features" matrix. $U$ and $V^{T}$ are orthogonal, and represent different things. $U$ represents how much users "like" each feature and $V^{T}$ represents how relevant each feature is to each movie.

To get the lower rank approximation, we take these matrices and keep only the top $k$ features, which we think of as the underlying tastes and preferences vectors.

We credit Nick Beckers blog for the portion on SVD; While KNN below, is created to understand various approaches to Recommendation systems.

### Setup Steps

In [1]:
#@title Please enter your registration id to start: (e.g. P181900101) { run: "auto", display-mode: "form" }
Id = "2100706" #@param {type:"string"}

In [2]:
#@title Please enter your password (normally your phone number) to continue: { run: "auto", display-mode: "form" }
password = "7702777831" #@param {type:"string"}

In [3]:
#@title Run this cell to complete the setup for this Notebook
from IPython import get_ipython

ipython = get_ipython()
  
notebook= "U4W23_57_MovieRecommenationSystems_SVD_KNN_C" #name of the notebook

def setup():
#  ipython.magic("sx pip3 install torch")  
    ipython.magic("sx wget https://cdn.talentsprint.com/aiml/Experiment_related_data/ml-1m.zip")
    ipython.magic("sx unzip ml-1m.zip")
    from IPython.display import HTML, display
    display(HTML('<script src="https://dashboard.talentsprint.com/aiml/record_ip.html?traineeId={0}&recordId={1}"></script>'.format(getId(),submission_id)))
    print("Setup completed successfully")
    return

def submit_notebook():
    ipython.magic("notebook -e "+ notebook + ".ipynb")
    
    import requests, json, base64, datetime

    url = "https://dashboard.talentsprint.com/xp/app/save_notebook_attempts"
    if not submission_id:
      data = {"id" : getId(), "notebook" : notebook, "mobile" : getPassword()}
      r = requests.post(url, data = data)
      r = json.loads(r.text)

      if r["status"] == "Success":
          return r["record_id"]
      elif "err" in r:        
        print(r["err"])
        return None        
      else:
        print ("Something is wrong, the notebook will not be submitted for grading")
        return None
    
    elif getAnswer() and getComplexity() and getAdditional() and getConcepts() and getWalkthrough() and getComments() and getMentorSupport():
      f = open(notebook + ".ipynb", "rb")
      file_hash = base64.b64encode(f.read())

      data = {"complexity" : Complexity, "additional" :Additional, 
              "concepts" : Concepts, "record_id" : submission_id, 
              "answer" : Answer, "id" : Id, "file_hash" : file_hash,
              "notebook" : notebook, "feedback_walkthrough":Walkthrough ,
              "feedback_experiments_input" : Comments,
              "feedback_mentor_support": Mentor_support}

      r = requests.post(url, data = data)
      r = json.loads(r.text)
      if "err" in r:        
        print(r["err"])
        return None   
      else:
        print("Your submission is successful.")
        print("Ref Id:", submission_id)
        print("Date of submission: ", r["date"])
        print("Time of submission: ", r["time"])
        print("View your submissions: https://aiml.iiith.talentsprint.com/notebook_submissions")
        #print("For any queries/discrepancies, please connect with mentors through the chat icon in LMS dashboard.")
        return submission_id
    else: submission_id
    

def getAdditional():
  try:
    if not Additional: 
      raise NameError
    else:
      return Additional  
  except NameError:
    print ("Please answer Additional Question")
    return None

def getComplexity():
  try:
    if not Complexity:
      raise NameError
    else:
      return Complexity
  except NameError:
    print ("Please answer Complexity Question")
    return None
  
def getConcepts():
  try:
    if not Concepts:
      raise NameError
    else:
      return Concepts
  except NameError:
    print ("Please answer Concepts Question")
    return None
  
  
def getWalkthrough():
  try:
    if not Walkthrough:
      raise NameError
    else:
      return Walkthrough
  except NameError:
    print ("Please answer Walkthrough Question")
    return None
  
def getComments():
  try:
    if not Comments:
      raise NameError
    else:
      return Comments
  except NameError:
    print ("Please answer Comments Question")
    return None
  

def getMentorSupport():
  try:
    if not Mentor_support:
      raise NameError
    else:
      return Mentor_support
  except NameError:
    print ("Please answer Mentor support Question")
    return None

def getAnswer():
  try:
    if not Answer:
      raise NameError 
    else: 
      return Answer
  except NameError:
    print ("Please answer Question")
    return None
  

def getId():
  try: 
    return Id if Id else None
  except NameError:
    return None

def getPassword():
  try:
    return password if password else None
  except NameError:
    return None

submission_id = None
### Setup 
if getPassword() and getId():
  submission_id = submit_notebook()
  if submission_id:
    setup() 
else:
  print ("Please complete Id and Password cells before running setup")

Setup completed successfully

### Loading the Required Packages

In [4]:
import pandas as pd
import numpy as np

### Loading the ratings, users and movies dat files

In [5]:
ratings_list = [i.strip().split("::") for i in open('./ml-1m/ratings.dat', 'r').readlines()]
users_list = [i.strip().split("::") for i in open('./ml-1m/users.dat', 'r').readlines()]
movies_list = [i.strip().split("::") for i in open('./ml-1m/movies.dat', 'r',encoding="latin-1").readlines()]

### Converting the rating, movies and users list into numpy arrays

In [6]:
ratings = np.array(ratings_list)
users = np.array(users_list)
movies = np.array(movies_list)

### Creating rating, movies dataframes using the ratings and movies numpy arrays

In [7]:
ratings_df = pd.DataFrame(ratings, columns = ['UserID', 'MovieID', 'Rating', 'Timestamp'], dtype = int)
movies_df = pd.DataFrame(movies, columns = ['MovieID', 'Title', 'Genres'])
movies_df['MovieID'] = movies_df['MovieID'].apply(pd.to_numeric)

Lets look at the movies and ratings dataframes.

In [8]:
movies_df.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [9]:
ratings_df.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

We want the format of  ratings matrix to be one row per user and one column per movie. We'll use `pivot` on `ratings_df`

In [10]:
R_df = ratings_df.pivot(index = 'UserID', columns ='MovieID', values = 'Rating').fillna(0)
R_df.head()

MovieID  1     2     3     4     5     6     ...  3947  3948  3949  3950  3951  3952
UserID                                       ...
1         5.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
5         0.0   0.0   0.0   0.0   0.0   2.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 3706 columns]

The last thing we need to do is de-mean the data (normalize by each users mean) and convert it into a numpy array.

In [11]:
R = R_df.to_numpy()
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

With the ratings matrix properly formatted and normalized, we're ready to do the singular value decomposition

### Singular Value Decomposition

Scipy and Numpy both have functions to do the singular value decomposition.We are  using Scipy function `svds` because it chooses how many latent factors we want to use to approximate the original ratings matrix (instead of having to truncate it after).

In [12]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)

Done. The function returns exactly what was detailed earlier in this post, except that the $\Sigma$ returned is just the values instead of a diagonal matrix. This is useful, but since we are to leverage matrix multiplication to get predictions  converting it to the diagonal matrix form.

In [13]:
U.shape

(6040, 50)

In [14]:
sigma = np.diag(sigma)

### Making Predictions from the Decomposed Matrices

We now have everything to make movie ratings predictions for every user. We can do it all at once by following the math and matrix multiply $U$, $\Sigma$, and $V^{T}$ back to get the rank $k=50$ approximation of $R$. 

**Note:** The k used here is not related to the 'k' of knn below. Here it is the dimension of the lower rank approximation.

We also need to add the user means back to get the actual star ratings prediction.

In [15]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

### Making Movie Recommendations
Finally, it's time. With the predictions matrix for every user, we can build a function to recommend movies for any user. All we need to do is return the movies with the highest predicted rating that the specified user hasn't already rated. Though the author didn't use actually use any explicit movie content features (such as genre or title), he merges in that information to get a more complete picture of the recommendations.

Also return the list of movies the user has already rated, for the sake of comparison.

In [16]:
R_df.columns

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            3943, 3944, 3945, 3946, 3947, 3948, 3949, 3950, 3951, 3952],
           dtype='int64', name='MovieID', length=3706)

In [17]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)
preds_df.head()

MovieID      1         2         3     ...      3950      3951      3952
0        4.288861  0.143055 -0.195080  ...  0.031912  0.050450  0.088910
1        0.744716  0.169659  0.335418  ... -0.101102 -0.054098 -0.140188
2        1.818824  0.456136  0.090978  ...  0.012345  0.015148 -0.109956
3        0.408057 -0.072960  0.039642  ... -0.026050  0.014841 -0.034224
4        1.574272  0.021239 -0.051300  ...  0.033830  0.125706  0.199244

[5 rows x 3706 columns]

In [18]:
def recommend_movies(predictions_df, userID, movies_df, original_ratings_df, num_recommendations=5):
    # Get and sort the user's predictions
    user_row_number = userID - 1 # UserID starts at 1, not 0
    sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False) # UserID starts at 1
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings_df[original_ratings_df.UserID == (userID)]
    print(user_data.head())
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'MovieID', right_on = 'MovieID').
                     sort_values(['Rating'], ascending=False)
                 )
    
    print('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print('Recommending highest {0} predicted ratings movies which are not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies_df[~movies_df['MovieID'].isin(user_full['MovieID'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'MovieID',
               right_on = 'MovieID').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

In [19]:
already_rated, predictions = recommend_movies(preds_df, 756, movies_df, ratings_df, 10)

        UserID  MovieID  Rating  Timestamp
117251     756     2997       5  975453788
117252     756      589       5  975453647
117253     756      593       5  975453172
117254     756      260       3  975453560
117255     756     1894       2  975453172
User 756 has already rated 35 movies.
Recommending highest 10 predicted ratings movies which are not already rated.

A look at the predictions!!

In [20]:
already_rated.head()

    UserID  ...                         Genres
0      756  ...                         Comedy
12     756  ...                  Action|Horror
31     756  ...             Action|Crime|Drama
29     756  ...  Action|Horror|Sci-Fi|Thriller
25     756  ...     Action|Sci-Fi|Thriller|War

[5 rows x 6 columns]

In [21]:
predictions

      MovieID  ...                               Genres
1253     1291  ...                     Action|Adventure
2761     2858  ...                         Comedy|Drama
2665     2762  ...                             Thriller
1188     1222  ...                     Action|Drama|War
3424     3527  ...               Action|Sci-Fi|Thriller
1178     1210  ...  Action|Adventure|Romance|Sci-Fi|War
1861     1953  ...          Action|Crime|Drama|Thriller
1266     1304  ...                Action|Comedy|Western
1862     1954  ...                         Action|Drama
2100     2194  ...                   Action|Crime|Drama

[10 rows x 3 columns]

Pretty cool! These look like pretty good recommendations. It's also good to see that, though the author didn't actually use the genre of the movie as a feature, the truncated matrix factorization features "picked up" on the underlying tastes and preferences of the user. The program recommended some film-noirs, crime, drama, and war movies - all of which were genres of some of this user's top rated movies.

### KNN Approach to the same data:

**Create cartesian co-ordinate and rate 0 everywhere and then fill in ratings**

In [22]:
seen = {}
for x in ratings_df.values:
  seen[(int(x[0]), int(x[1]))] = 1

In [23]:
ratings_df.columns

Index(['UserID', 'MovieID', 'Rating', 'Timestamp'], dtype='object')

In [24]:
userCount = max(ratings_df.UserID)
movieCount = max(ratings_df.MovieID)

In [25]:
def distance(u1, u2, mx):
    # We use get if one particular match (user, movie) is not provided in data, then by default it will considered as 0
    d = 0 - seen.get((u1, mx),0) * seen.get((u2, mx),0)  
    for m in range(int(movieCount)):
        d += seen.get((u1, m),0) * seen.get((u2, m),0)
    return d

def kNN(k, givenUser, givenMovie):
    distances = []
    for u in range(int(userCount)):
        if u != givenUser:
            distances.append([distance(u, givenUser, givenMovie), u])
    distances.sort()
    distances.reverse() # Because cosine distances mean higher = closer
    return distances[:k] 

def prediction(k, givenUser, givenMovie):
    neighbours = kNN(k, givenUser, givenMovie)
    howmanySaw = sum([seen.get((u, givenMovie),0) for d, u in neighbours])
    return 2 * howmanySaw > k      # Predict 1 (True) if more than half of the similar users have seen this movie, otherwise 0 (False)

In [26]:
ratings_df = ratings_df.astype('int')

In [27]:
# Lets look at some random samples to use these values to feed into the KNN
# NOTE: The fact that there is a rating for a movie, shows the user has watched it.
ratings_df.sample(n=3)

        UserID  MovieID  Rating  Timestamp
382735    2237     1624       4  974599236
122434     790     1210       5  975428900
645854    3887     3163       2  965805306

Lets experiment with different k value by choosing userId and movieId from the above table.

In [31]:
# Lets enter the K value as first param, UserID as the second param and MovieID as third param by picking up
k = 5
userID = 2237
movieID = 3163
# YOUR CODE HERE
prediction(k, userID, movieID) # input the value for k, userId and movieID fom above

True

Finally lets compare both KNN prediction and SVD prediction for one of the movies mentioned below:

In [32]:
# Generate random samples to test below:
ratings_df.sample(n=3)

        UserID  MovieID  Rating  Timestamp
590413    3601     2105       3  966641030
462951    2857     1253       4  972508690
653584    3940     3147       3  995171086

### KNN

In [34]:
# YOUR CODE HERE
userID=2857
movieID=2105
prediction(5, userID, movieID) # input the value for userId and movieID from above generated random sample table for testing

True

### SVD

In [36]:
# YOUR CODE HERE for recommending movies by giving userId
already_ratedFinal, predictionsFinal = recommend_movies(preds_df, userID, movies_df, ratings_df, 5) # input the value for userId from above generated random sample table for testing

        UserID  MovieID  Rating  Timestamp
462942    2857     2987       3  972508031
462943    2857     3930       2  972505192
462944    2857     3932       3  972505035
462945    2857     3934       3  972508826
462946    2857     3937       2  972508894
User 2857 has already rated 795 movies.
Recommending highest 5 predicted ratings movies which are not already rated.

In [37]:
print(already_ratedFinal.head())

     UserID  ...                Genres
678    2857  ...                Horror
584    2857  ...                Horror
425    2857  ...  Action|Crime|Romance
487    2857  ...      Action|Drama|War
703    2857  ...                Horror

[5 rows x 6 columns]

In [38]:
print(predictionsFinal.head())

      MovieID                              Title              Genres
193       253  Interview with the Vampire (1994)        Drama|Horror
1041     1347  Nightmare on Elm Street, A (1984)              Horror
2350     3082    World Is Not Enough, The (1999)     Action|Thriller
958      1219                      Psycho (1960)     Horror|Thriller
1079     1408   Last of the Mohicans, The (1992)  Action|Romance|War

### Please answer the questions below to complete the experiment:

In [ ]:
#@title State True or False: The lower rank dimensions, intuitively represents 'concepts' hidden within the data(read the comments in the experiments/watch experiment walkthrough video if necessary)?{ run: "auto", form-width: "500px", display-mode: "form" }
Answer = "" #@param ["","TRUE","FALSE"]

In [ ]:
#@title How was the experiment? { run: "auto", form-width: "500px", display-mode: "form" }
Complexity = "" #@param ["","Too Simple, I am wasting time", "Good, But Not Challenging for me", "Good and Challenging for me", "Was Tough, but I did it", "Too Difficult for me"]

In [ ]:
#@title If it was too easy, what more would you have liked to be added? If it was very difficult, what would you have liked to have been removed? { run: "auto", display-mode: "form" }
Additional = "" #@param {type:"string"}

In [ ]:
#@title Can you identify the concepts from the lecture which this experiment covered? { run: "auto", vertical-output: true, display-mode: "form" }
Concepts = "" #@param ["","Yes", "No"]

In [ ]:
#@title  Experiment walkthrough video? { run: "auto", vertical-output: true, display-mode: "form" }
Walkthrough = "" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [ ]:
#@title  Text and image description/explanation and code comments within the experiment: { run: "auto", vertical-output: true, display-mode: "form" }
Comments = "" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [ ]:
#@title Mentor Support: { run: "auto", vertical-output: true, display-mode: "form" }
Mentor_support = "" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [ ]:
#@title Run this cell to submit your notebook for grading { vertical-output: true }
try:
  if submission_id:
      return_id = submit_notebook()
      if return_id : submission_id = return_id
  else:
      print("Please complete the setup first.")
except NameError:
  print ("Please complete the setup first.")